@model ManageTheNorthwind.Models.OrderDetail

@{
    ViewData["Title"] = "CreateOD2";
}

@*<h1>Order ID #@ViewBag.order.OrderId</h1>*@

<h4>OrderDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @* <form asp-action="CreateOD">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*Buradki order ıd gösterme silindi
        <div class="form-group">
        <input asp-for="OrderId" value="@ViewBag.order.OrderId" readonly>
        </div>
        *@
        <table class="table table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">ProductName</th>
                    <th scope="col">UnitPrice</th>
                    <th scope="col">QuantityPerUnit</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Add</th>
                </tr>
            </thead>
            <tbody class="tbody">
                @for (var i = 0; i < ViewBag.Product.Count; i++)
                {
                    <form method="post" id="myForm" action="@Url.Action("CreateOD3")">
                    <tr>
                        <td>
                            <input class="align-middle " type="hidden" name="ProductId" value="@ViewBag.Product[@i].ProductId" />
                        <td><input class="align-middle border-0 bg-transparent" value="@ViewBag.Product[@i].ProductName" readonly /> </td>
                        <td><input class="align-middle border-0 bg-transparent" name="UnitPrice" value="@ViewBag.Product[@i].UnitPrice" /></td>
                        <td>@ViewBag.Product[@i].QuantityPerUnit</td>
                        <td><input class="align-middle form-control" type="number" name="Discount" /></td>
                        <td><input class="align-middle form-control" type="number" name="Quantity" /></td>
                        <td><button type="button" class="btn btn-warning buttons">Add</button></td>
                    </tr>
                    </form>
                }
            </tbody>
        </table>


    </div>


    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    <div class="col-md-4">
        <form method="post" id="myForm2" action="@Url.Action("CreateOD3")">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    <tr>
                    </tr>

                </tbody>
            </table>
            <td><button type="submit" class="btn btn-warning buttons">Tamamla</button></td>
        </form>
    </div>
</div>
@section Scripts {
    <script>
        var tıklanan = document.querySelectorAll(".tbody button");
        tıklanan.forEach(function (item) {
            item.addEventListener("click", function () {
                var row = this.parentNode.parentNode;
                var product = row.querySelectorAll(".align-middle");
                ekle(product);

            });
        });

        function ekle(product) {
            var tbody = document.querySelector("#tbody");

            var tr = document.createElement("tr");


            product.forEach(function (item) {
                var td = document.createElement("td");
                var input = document.createElement("input");
                input.name = item.name;
                input.value = item.value;
                input.setAttribute("type", item.getAttribute("type"));
                input.setAttribute("name", item.getAttribute("name"));
                input.setAttribute("value", item.getAttribute("value"));
                input.setAttribute("class", "border-0 bg-transparent");
                input.readOnly = true;
                td.appendChild(input);
                tr.appendChild(td);
            });
            var a = document.createElement("td");
            a.innerHTML = "<button  class='delete btn btn-danger'>Sil</button>";
            tr.appendChild(a);
            tbody.appendChild(tr);

            var del = document.querySelectorAll(".delete")

            del.forEach(function (item) {
                item.addEventListener("click", function () {
                    var row = this.parentNode.parentNode;
                    row.remove();
                })
            })
        }
        $(document).ready(function () {
            $(".buttons").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/order/CreateOD3",
                    data: $("#myForm").serialize(),
                    success: function (data) {
                        console.log("Veri başarıyla gönderildi.");
                    },
                    error: function () {
                        console.log("Veri gönderimi sırasında hata oluştu.");
                    }
                });
            });
        });

        $(document).on('click', '.buttons', function () {
            $(".delete").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/order/CreateOD3",
                    data: $("#myForm2").serialize(),
                    success: function (data) {
                        console.log("Veri başarıyla gönderildi.");
                    },
                    error: function () {
                        console.log("Veri gönderimi sırasında hata oluştu.");
                    }
                });
            });
        });

    </script>
    }

