@model IEnumerable<ManageTheNorthwind.Models.Employee>

@{
    ViewData["Title"] = "Index2";
}

<h1>Employees</h1>
<div class="table-responsive">
    <table class="table border mb-0">
        <thead class="table-light fw-semibold">
            <tr class="align-middle">
                <th class="text-center">
                    <svg class="icon">
                        <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-people"></use>
                    </svg>
                </th>
                <th>User</th>
                <th class="text-center">Country</th>
                <th>Sales- Month</th>
                <th class="text-center">Title</th>
                <th>Activity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var employee in Model)
                {
                    <tr class="align-middle">


                        <td class="text-center">
                            <div class="avatar avatar-md">
                                <img class="avatar-img" src="assets/img/avatars/@(employee.EmployeeId+".jpg")" alt="user@email.com">
                                <span class="avatar-status bg-success"></span>
                            </div>
                        </td>
                        <td>
                            <div>@employee.TitleOfCourtesy @employee.FirstName  @employee.LastName</div>
                            <div class="small text-medium-emphasis"><span>New</span> | Registered: Jan 1, 2020</div>
                        </td>
                        <td class="text-center">
                            <svg class="icon icon-xl">
                                <use xlink:href="vendors/coreui/icons/svg/flag.svg#cif-@employee.Country.ToLower()"></use>
                            </svg>
                            <div>
                                @Html.DisplayFor(modelItem => employee.Country)
                            </div>
                        </td>
                        <td>
                            <div class="clearfix">
                                <div class="float-start">
                                    <div class="fw-semibold">@(employee.EmployeeId * 4)%</div>
                                </div>
                                <div class="float-end"><small class="text-medium-emphasis">Jun 11, 2020 - Jul 10, 2020</small></div>
                            </div>
                            <div class="progress progress-thin">
                                <div class="progress-bar bg-success" role="progressbar" style="width: @(employee.EmployeeId*4)%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => employee.Title)
                        </td>
                        <td>
                            <div class="small text-medium-emphasis">Total Sales</div>
                            <div class="fw-semibold">@employee.Orders.Count()</div>
                        </td>
                        <td>

                            <div class="dropdown">
                                <button class="btn btn-transparent p-0" type="button" data-coreui-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <svg class="icon">
                                        <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-options"></use>
                                    </svg>
                                </button>

                            <div class="dropdown-menu dropdown-menu-end">
                                @Html.ActionLink("Edit", "Edit","Employee", new { id=employee.EmployeeId },new{@class="dropdown-item"}) @Html.ActionLink("Profile", "Profile","Employee", new {  id=employee.EmployeeId },new{@class="dropdown-item"}) @Html.ActionLink("Delete", "Delete", new { id=employee.EmployeeId},new{@class="dropdown-item"})
                            </div>
                            </div>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>

<p class="text-end m-3">
    <a class="btn btn-success" asp-action="Create" asp-controller="employee">Create Employee</a>
</p>

